@model SmartHealth.Model.Models.Patient

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="container col-md-12">
        <div class="">

        </div>
        <div class="col-md-6 col-md-offset-2" id="PatientProfile">
            @Model.userAndRole.user.FirstName @Model.userAndRole.user.LastName </br>
            @Model.userAndRole.user.UserName </br>
            @Model.Age </br>
            @Model.Height </br>
            @Model.Weight </br>
            <div class="navbar-right">
                <a href='@Url.Action("Edit", "Patient", new { id = Model.PatientId })' class="btn btn-info btn-lg">                    
                        <span class="glyphicon glyphicon-edit"></span>Edit
                    </a>                 
            </div>

        </div>
    </div>
</body>

