@model SmartHealth.Model.Models.Doctor
@using SmartHealth.Model.Models
@using System.Web.Mvc

@{
    ViewBag.Title = "Update Doctor Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("Edit", "Doctor", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DoctorId)
    @Html.HiddenFor(model => model.userAndRole.UserId)
    @Html.HiddenFor(model => model.userAndRole.user.UserId)
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container col-md-8 col-md-offset-2" id="registrationPage">
            <h4>Update your information</h4>
            <hr />

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.userAndRole.user.FirstName, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "display_name", placeholder = "First Name *", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.userAndRole.user.FirstName)
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.userAndRole.user.LastName, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "display_name", placeholder = "Last Name *", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.userAndRole.user.LastName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.userAndRole.user.UserName, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "display_name", placeholder = "Username *", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.userAndRole.user.UserName)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.userAndRole.user.EmailId, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "Email_id", placeholder = "Email Id*", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.userAndRole.user.EmailId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.userAndRole.user.Password, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "Password", placeholder = "Password *", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.userAndRole.user.Password)
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.userAndRole.user.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "ConfirmPassword", placeholder = "Confirm Password *", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.userAndRole.user.ConfirmPassword)
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "Designation", placeholder = "Designation*", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Designation)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UniversityName, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "univName", placeholder = "College/University name*", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.UniversityName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Speciality, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "Speciality", placeholder = "Speciality*", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Speciality)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @*@Html.DropDownListFor(model => model.HospitalId, new SelectList(ViewBag.HospitalId, "HospitalId", "HospitalName", Model.HospitalId), new { @class = "form-control col-md-3 col-xs-12 ddlErrorMsg custom-font", @id = "ddlHospital", @required = true })
                    @Html.ValidationMessageFor(model => model.hospital.HospitalName)*@
                    @Html.DropDownList("HospitalId", null, "", new { @class = "form-control col-md-6 ddlErrorMsg", @id = "ddlhospital", @placeholder = "Hospital Name", @type = "text", @maxlength = "40" })
                    @Html.ValidationMessageFor(model => model.hospital.HospitalName)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.userAndRole.RoleId, new { htmlAttributes = new { @class = "form-control col-md-6", @id = "Speciality", placeholder = "Enter your role id 1*", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.userAndRole.role.RoleName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetRole")',
                dataType: 'json',
                $.getJSON('@Url.Action("GetRole", "Doctor")', { RoleId: $(this).val() }, function (data) {
                    $.each(data, function(index, item) {
                        var option = $('<option></option>').val(item.ID).text(item.Name);

                    });
                })
            });
        });
    </script>
}
