@model SmartHealth.Model.Models.UserAndRole

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("GetRole", "UserRole", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container col-md-8 col-md-offset-2" id="registrationPage">
            <h4>Registration</h4>
            <hr />

            <div class="form-group">
                
                <div class="col-md-6">
                    <h4>Select your role</h4>
                    @Html.DropDownList("RoleId", null, "You are a--", new { @class = "form-control col-md-6 ddlErrorMsg", @id = "ddlusertype", @placeholder = "You are a -- ", @type = "text", @maxlength = "40" })
                    @Html.ValidationMessageFor(model => model.role.RoleName)
                    @*@Html.DropDownListFor(z => z.RoleId, new SelectList(Model.userRole.RoleName, "Value", "Text", Model.RoleId), "-- Select Role --")*@

                </div>
            </div>
  
            <div class="form-group">
                <div class="col-md-offset-8 col-md-10">
                    <input type="submit" value="Next" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
    @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript">

            $(document).ready(function () {

                $('#ddlusertype').on('change', function () {
                    if (this.value == "1") {
                        $("#patient").hide();
                        $("#doctor").show();
                    }
                    else if (this.value == "2") {
                        $("#doctor").hide();
                        $("#patient").show();
                    }
                    
                })

                });
        </script>
    }*@
}



